/*NAV BAR CSS*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 1vmax;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* margin-bottom: 4%; */
    position: sticky;
    top: 0;
    font-weight: 900;
    text-transform: uppercase;
    border: 0.5px solid black;

  }

  .logo {
    text-decoration: solid;
    color: #000000;
    margin-right: 10vw;
    font-size: 1.5em;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  

  .active {
    color: #f0db51;
  }

  /* .navbar {
    display: inline-block;
    position: relative;
    color: #0087ca;
  } */
  
  .navbar::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c74294;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navbar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  