/*NAV BAR CSS*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* box-shadow: 0px 0px 5px 0px black; */
    /* margin-bottom: 4%; */
    position: sticky;
    top: 0;
    font-weight: 900;
    text-transform: uppercase;
    border: 0.5px solid black;

  }

  .logo {
    text-decoration: solid;
    color: #000000;
    margin-right: 10vw;
    font-size: 1.5em;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .active {
    color: #f0db51;
  }